details > .questions::after {
    float: right;
    content: url("../Kamil-Icons/down-arrow.svg");
  }
  
  details[open] > .questions::after {
    content: url("../Kamil-Icons/up-arrow.svg");
  }