details > .questions::after {
    float: right;
    content: url("../down-arrow.svg");
    position: relative;
    bottom: 9px;
  }
  
  details[open] > .questions::after {
    content: url("../up-arrow.svg");
  }